<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include("_header.ejs")%>
    <h1>BOOK WITH US</h1>
    <!--ALLOW ANY USER TO BOOK A SPOT OR ROOM-->
  </body>
</html>
